services:
  web:
    build: .
    container_name: web
    image: ghcr.io/dsxailab/dujiaoka:latest
    environment:
      INSTALL: true
      WEB_DOCUMENT_ROOT: "/app/public"
      TZ: Asia/Shanghai
    volumes:
      - ./env.conf:/app/.env
      - ./uploads:/app/public/uploads
      - ./storage/logs:/app/storage/logs
    ports:
      - 80:80
    restart: always
    logging:
      options:
        max-size: "10m"
        max-file: "3"

  db:
    container_name: db
    image: mariadb:focal
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=TheTestPassword
      - MYSQL_DATABASE=dujiaoka
      - MYSQL_USER=dujiaoka
      - MYSQL_PASSWORD=TheTestPassword
    volumes:
      - ./mysql:/var/lib/mysql
    logging:
      options:
        max-size: "10m"
        max-file: "3"
  epusdt:
    container_name: usdt
    build: 
      context: .
      dockerfile: Dockerfile.Epusdt
    image: dsxailab/epusdt
    restart: always
    volumes:
      - ./epusdt.conf:/usdt/.env
    ports:
      - 8880:8880
    logging:
      options:
        max-size: "10m"
        max-file: "3"
  epusdtdb:
    container_name: usdt_db
    image: mariadb:focal
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=TheTestPassword
      - MYSQL_DATABASE=epusdt
      - MYSQL_USER=dujiaoka
      - MYSQL_PASSWORD=TheTestPassword
    volumes:
      - ./epusdtmysql:/var/lib/mysql
    logging:
      options:
        max-size: "10m"
        max-file: "3"
  redis:
    container_name: redis
    image: redis:alpine
    restart: always
    volumes:
      - ./redis:/data
    logging:
      options:
        max-size: "10m"
        max-file: "3"
    ports:
     - 6379:6379
